/* .cards {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease-in-out; 
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 100px 200px;
   
    box-shadow: 0px 0px 0px rgba(189, 8, 8, 0.1);
  }
  
  .cards img{
    width: 100%;
    background-size: cover;
  }
  
  .cards:hover {
    
    box-shadow: 0px 20px 12px  rgba(126, 1, 1, 0.2);
    border-radius: 20px;
  } */